@{
    ViewData["Title"] = "Contact";
}

 <div class="blue-background">
        <div class="container">
            <partial name ="_navbarPartial" />
            <partial name ="_servicesPartial" />
            <partial name ="_formcontactsPartial" />
            
      </div>
 </div>
