<div class="dark-bakgrund">
    <div class="container">
        <section id ="showcase4">
            <div class="column6">
            <!-- <img id ="blue-circle" src="bilder/bluecircle.svg" -->
                <h1 class="name">
                  OmniVus.
                </h1>
                <p class="big">
                  The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community 
                  conferences, books, and our membership added to the online magazine.             
                </p>
                <p class="small">
                  One thing that hasn’t changed is that we’re a small team — with most of us not working
                </p>
            </div>
      <div class="column7">
          <h1>
              Working Hours
          </h1>
          <p class="Hours">
              Monday - Friday: 7:00 - 17:00<br>
      Saturday: 7:00 - 12:00<br>
      Sunday and holidays: 8:00 - 10:00
          </p>
          <p class="small">
              For more then 15 years, IT Service has been a reliable partner in the field of logistics and cargo forwarding.
          </p>
      <img id ="little-circle" src="bilder/bluegreen.svg">
      
      <img id ="blue-circle" src="bilder/bluecircle.svg" >
    </div>
      <!-- <div id ="border">

      </div> -->
    </section>
      <p id ="copy"> Copyright © Mattin-Lassei Group AB - 2022</p>
</div>
</div>
