<div class ="background">
    <div class="left">
        <p class ="touch">Get In Touch</p>
        <h1 class="rubrik">Estimate for your<br>
            projects.</h1>
            <div>
                <input id="first-name" class="form needs-validation mt-4" minlength="2" required  type="text" placeholder="Enter your name"/>
                
            </div>
            <div>
                <input id="email" class="form mt-3 needs-validation" required type="email" placeholder="Enter your email"/>
               
            </div>
            <div>
                <input id="message" class="form mt-3 needs-validation" minlength="2" required type="text" placeholder="Enter your message"/>
               
            </div>
            <button id="submit-button" type="submit" class="submit mt-4 " >Submit Now</button>
    </div>
    <div class="right">
        <img id="Square2" src="Bilder/Square.svg" >
    </div>
   
</div>
