<section id ="form-one">
    <div class="container">
    <h1 class="h1">Book a Meeting</h1>
    <p class="p">Does any industry face a more complex audience journey and<br> 
      marketing sales process than B2B technology.
    </p>
    
    <div class="rows2 ">
        <div class="rad1 col-5" >
            <input type="text" class="form-control" id="floatingInput" placeholder="Enter your name" minlength="2" required>
          </div>
          <div class="rad2 col-5 mb-5">
            <input type="email" class="form-control" id="floatingInput" placeholder="Enter your email" required >
          </div>
    </div>
    
    <div class="textbox">
        <textarea class="form-control"style="background-color: #00152D; id="exampleFormControlTextarea1" placeholder="Enter your questions & subject here" rows="3" minlength="2" required ></textarea>
      </div>
      <a href="#" class="btn btn-main mt-4">Book a Meeting Now</a>
    </div>
  </section>
