<section id ="partOne">
               <div class ="grid">
    
                    <div class="box-1">
                        <div class="grey"> </div>
                        <div class="dark"> 
                            <div class="block"> UI/UX Design</div>
                        </div>
                        <img id ="blue-square" src ="Bilder/blue-square.svg">
                    </div>

                    <div class="box-2">
                        <div class="grey-2"> </div>
                        <div class="light-blue"> <h1 class="IT">IT Consultancy</h1> <p class="bread">The functional goal of technical content is to<br> help people use a product successfully. The<br> business goal must tie the content.</p> </div>
                        <img id ="blue-square2" src ="Bilder/blue-square.svg">
                    </div>

                    <div class="box-3">
                        <div class="grey"> </div>
                        <div class="dark"> 
                            <div class="block-2"> Technology Prof.</div>
                        </div>
                        <img id ="blue-square" src ="Bilder/blue-square.svg">
                    </div>

                    <div class="box-4">
                        <div class="grey"> </div>
                        <div class="dark">  
                            <div class="block-2"> Web Development</div>
                        </div>
                       
                        <img id ="blue-square" src ="Bilder/blue-square.svg">
                    </div>   

                        <div class="box-5">
                            <div class="grey"> </div>
                        <div class="dark"> 
                            <div class="block-2"> App Development</div>
                        </div>
                        <img id ="blue-square" src ="Bilder/blue-square.svg">
                     </div>      
                    <div class="box-6">
                        <div class="grey"> </div>
                        <div class="dark"> 
                            <div class="block-2"> Game Design</div>
                        </div>
                        <img id ="blue-square" src ="Bilder/blue-square.svg">
                    </div>
                 
                  </div>
           </section>