<section id="title">
   <div class="content">
        <h1> @ViewData["Title"] </h1>
  <div class ="links">
        <a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="@ViewData["Title"]" asp-action="Index"> @ViewData["Title"]</a>
  </div>
 </div>
            
 </section>

 </div>
    </div>