 <div class="dark-bakgrund">
                <div class="container">
                    <section id="showcase3">
                        <div class="column4">
                            <p class="small1">Intro</p>
                            <h1>How we growth<br>
                             our business.</h1>
                            <p class="medium"> The introduction of cloud and mobile technologies<br>into enterprise software.</p>
                            <p class ="big">hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously. </p>
                            <button class ="Learn">Learn More</button>
                         </div>
                        <div class="column5">
                            <img id="Square" src="Bilder/Square.svg" />
                        </div>
                    </section>
                </div>
               
            </div>
<div class="white">
    
</div>