 <div class="container">
            <section id ="showcase2">
                <div class ="column1">
                    <img class ="showcase2-image" src="Bilder/Grey.svg" alt="">
                </div>
                <div class ="column2">
                    <p class="ab">About us</p>
                    <h1>You can't use up 
                        creativity.</h1>
                    <p class="long">Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</p> 
                  <div class="Experience">
                  <!-- <img id="pointer" src="Bilder/Pointer.svg" -->
                    <div class="number">15 </div>
                     <div class="text">Years Of Experience </div>
                    </div>
                <div>
                    <button class ="Learn-button"> Learn More </button>
                    <button class ="Video-button"> video Intro Video</button>
                </div>
                <div class ="column3">
                    <img id="Triangle" src="Bilder/Triangle.svg" />
                </div>
                    </div>
            </section>
        </div>