@{
    ViewData["Title"] = "Home";
}

 <div class="blue-background">
        <div class="container">
            <partial name ="_navbarPartial" />
            <partial name ="_showcasePartial" />
      </div>
 </div>
            <partial name ="_showcase2Partial" />
            <partial name ="_showcase3Partial" />
            <partial name ="_formPartial" />
            